Comprehension is the short form of loop. 
List Comprehension, Dict Comprehension

In [1]:
# Simple Way
l = [1,2,3,4,5]
l1 = []
for i in l:
    l1.append(i**2)

In [2]:
l1

[1, 4, 9, 16, 25]

In [3]:
[i**2 for i in l]

[1, 4, 9, 16, 25]

In [5]:
# For Even Number
[i for i in l if i % 2 == 0]

[2, 4]

In [6]:
# Change in Upper Case 
l1 = ["sudh", "pwskills", "kumar", "Data Science Master"]
[i.upper() for i in l1 ]

['SUDH', 'PWSKILLS', 'KUMAR', 'DATA SCIENCE MASTER']

tuple Comprehensionv => Tuple comprehension generate object Reference so when you want the answer you have to convert it in a list or taking for loop in tuple then get the answer

In [7]:
l

[1, 2, 3, 4, 5]

In [10]:
list(i**2 for i in l)

[1, 4, 9, 16, 25]

dictionary Comprehension

In [12]:
d = {'key1' : 1, "key2": 2 , "key3" : 3, "key4" : 4}
{k:v**2 for k, v in d.items()} #items return key value pair in the list

{'key1': 1, 'key2': 4, 'key3': 9, 'key4': 16}

In [13]:
d

{'key1': 1, 'key2': 2, 'key3': 3, 'key4': 4}

In [14]:
{k:v**2 for k,v in d.items() if v % 2 == 0}

{'key2': 4, 'key4': 16}

Functions 
A function is a block of code which only runs when it is called. You can pass data, known as parameters, into a function.
there is a lot of inbuilt function in python, e.g. print() , typeof() etc. we can make functions also with the help of def keyword

def functionName() :
    // block of code

In [15]:
print("This is a data Science Class") #print function

This is a data Science Class

In [16]:
l = [1,2,3,4,4,2]
print(type(l))

<class 'list'>

In [17]:
def test() :
    print("Lakshya")

In [18]:
test()

Lakshya

In [19]:
def test1() :
    pass

pass did not return anything in function, it simply define the function

In [20]:
test() + "lakshya"

Lakshya

TypeError: unsupported operand type(s) for +: 'NoneType' and 'str'

print function return NONE type in function.

In [21]:
def test2() :
    return "this is my very first return"

In [22]:
test2()

'this is my very first return'

In [24]:
test2() + " Lakshya"

'this is my very first return Lakshya'

In [25]:
def test3() :
    return "lakshya", 23 , 2.25, [1,2,3,4,5]

In [26]:
test3()

('lakshya', 23, 2.25, [1, 2, 3, 4, 5])

If we return multiple items in return then it can return in the form of tuple

In [27]:
a,b,c,d = test3()

In [28]:
a

'lakshya'

In [29]:
b

23

In [30]:
c

2.25

In [31]:
d

[1, 2, 3, 4, 5]

In [32]:
type(d)

list

let's see in upper example that we can hold items that we return above in the separate varibles

In [33]:
def test4() :
    a = 5 + 6/7
    return a

In [34]:
test4()

5.857142857142857

In [35]:
def test5(a,b,c):
    d = a + b / c
    return d

In [41]:
a = int(input("a : "))
b = int(input("b : "))
c = int(input("c : "))
test5(a,b,c)

2.625

In [42]:
def test6(a,b):
    return a + b

In [43]:
test6(3,5)

8

In [45]:
test6("lakshya", " borasi")

'lakshya borasi'

In [47]:
test6([1,2,3,4], [5,6,7,8,9])

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [3]:
l = [1,2,3,4,"lakshya","borasi",[1,2,3,4,5,6]]

In [51]:
l1 = []
def test7():
    for i in l:
        if type(i) == int or type(i) == float:
            l1.append(i)
    return l1

In [52]:
test7()

[1, 2, 3, 4]

In [10]:
l = [1,2,3,4,"lakshya","borasi",[1,2,3,4,5,6]]

In [13]:
# Separate Integers
def test8(l):
    l1 = []
    for i in l:
        if type(i) == list:
            # l1.extend(i)
            for j in i:
                l1.append(j)
        else :
            if type(i) == int or type(i) == float:
                l1.append(i)
    return l1

In [14]:
test8(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

''' # ''' -> docString , this is used to make function definition what this function do. It is mandatory to do

In [15]:
def test9(l):
    '''This is a function which will take a list as input and return all the integers in the list'''
    l1 = []
    for i in l:
        if type(i) == list:
            # l1.extend(i)
            for j in i:
                l1.append(j)
        else :
            if type(i) == int or type(i) == float:
                l1.append(i)
    return l1

In [16]:
test9(l)

[1, 2, 3, 4, 1, 2, 3, 4, 5, 6]

Args : 
Args is a no. of arguments we can pass in the function, all that pass in the forms of tuples, i.e. You can pass multiple values in the function.

In [17]:
def test10(*args) :
    return args

In [18]:
test10(1,2,3,4,5,6,7,8,9,10)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [19]:
type(test10())

tuple

In [20]:
def test11(*args,a):
    return args,a

In [21]:
test11(1,2,3,4,5,6,7,8,9,10,a = 11)

((1, 2, 3, 4, 5, 6, 7, 8, 9, 10), 11)

In [22]:
def test14(c,d,a=23, b=1):
    return a , b , c , d

In [24]:
test14()

TypeError: test14() missing 2 required positional arguments: 'c' and 'd'

In [25]:
test14(3,4) # Value of a and b will be default

(23, 1, 3, 4)

In [26]:
test14(6,55,2,22) # Positional Argument

(2, 22, 6, 55)

Kwargs -> Keyword Args
when we have to pass key value pair argumenets so we use **Kwargs, it is return default dictionary

In [27]:
def test15(**kwargs):
    return kwargs

In [28]:
test15()

{}

In [29]:
type(test15())

dict

In [31]:
test15(a = [1,2,3,4,5] , b = "lakshya", c = 3.3, d = 4)

{'a': [1, 2, 3, 4, 5], 'b': 'lakshya', 'c': 3.3, 'd': 4}

Generator Function -> Generator function is that function which can give you data one by one.

In [32]:
def fib(n):
    a,b = 0,1
    for i in range(n):
        yield a
        a,b = b, a+b

In [53]:
type(fib)

generator

In [33]:
fib(10)

In [34]:
for i in fib(10):
    print(i)

0
1
1
2
3
5
8
13
21
34

In [35]:
def fib1():
    a,b = 0,1
    while True:
        yield a
        a,b = b, a+b

In [36]:
fib = fib1()

In [52]:
type(fib)

generator

In [37]:
for i in range(10):
    print(next(fib))

0
1
1
2
3
5
8
13
21
34

In [38]:
s = "sudh"

In [39]:
for i in s:
    print(i)

s
u
d
h

In [40]:
next(s)

TypeError: 'str' object is not an iterator

In [41]:
s1 = iter(s) #iter function will convert the string into iterator

In [43]:
next(s1) #next function will give the next element of the iterator

's'

In [44]:
next(s1)

'u'

In [45]:
next(s1)

'd'

In [46]:
next(s1)

'h'

In [47]:
next(s1)

StopIteration:

In [48]:
next(
    45
)

TypeError: 'int' object is not an iterator

In [49]:
next(iter(45))

TypeError: 'int' object is not iterable

if data is iterable then it can iterate,i.e string if data is not iterable then it cannot be iterate , i.e. integer, complex, float etc

In [4]:
def count(n):
    count = 1
    while count <= n:
        yield count
        count += 1

In [2]:
count(10)

In [5]:
for i in count(5):
    print(i)

1
2
3
4
5

In [6]:
type(count)

function

Lambda Function -> Lambda function is an anonmyous function in which we cannot define the function name, we just define the function variable and it is a one liner function

In [9]:
n = 3
p = 2

In [8]:
def power(n,p):
    return n**p

In [10]:
power(3,2)

9

In [13]:
a = lambda n,p : n**p

In [14]:
a(3,2)

9

In [15]:
add = lambda a,b : a + b

In [16]:
add(3,5)

8

In [20]:
c_to_f = lambda c : (c * 9/5) + 32

In [22]:
c_to_f(45)

113.0

In [23]:
#  Find the max of 2 numbers
finding_max = lambda a,b : a if a > b else b

In [24]:
finding_max(3,5)

5

In [25]:
s = "pwskills"

In [28]:
find_len = lambda s : len(s)

In [29]:
find_len(s)

8

Map, reduce and filter function

Map -> it will return the output in the form of list

In [43]:
l = [1,2,3,4,5,6]

In [31]:
def test(l):
    l1 = []
    for i in l:
        l1.append(i**2)
    return l1

In [32]:
test(l)

[1, 4, 9, 16, 25, 36]

In [40]:
def test1(x):
    return x**2

In [41]:
list(map(test1,l))

[1, 4, 9, 16, 25, 36]

In [44]:
list(map(lambda x : x**2,l))

[1, 4, 9, 16, 25, 36]

In [2]:
l1 = [1,2,3,4,5,6]
l2 = [7,8,9,10,11,12]

In [3]:
list(map(lambda x,y : x + y,l1,l2))

[8, 10, 12, 14, 16, 18]

In [4]:
def add(x,y) :
    return x + y

In [7]:
list(map(add,l1,l2))

[8, 10, 12, 14, 16, 18]

In [12]:
s = "pwskills"
list(map(lambda x : x.upper(),s))

['P', 'W', 'S', 'K', 'I', 'L', 'L', 'S']

Reduce Function -> It will reduce the list into a single value 
Reduce use only two parameters

In [4]:
from functools import reduce

In [2]:
l = [1,2,3,4,5,6]

In [16]:
reduce(lambda x,y : x + y,l)

21

In [5]:
reduce(lambda x,y,z : x + y + z,l)

TypeError: <lambda>() missing 1 required positional argument: 'z'

In [6]:
reduce(lambda x,y : x * y,l)

720

In [7]:
l

[1, 2, 3, 4, 5, 6]

In [9]:
reduce(lambda x,y : x if x > y else y,l)

6

Filter -> it will return the output in the form of list

In [10]:
l

[1, 2, 3, 4, 5, 6]

In [11]:
list(filter(lambda x : x % 2 == 0,l))

[2, 4, 6]

In [12]:
list(filter(lambda x : x % 2 != 0,l))

[1, 3, 5]

In [13]:
l1 = [-3,-2,-1,2,3,4,-2,0]

In [14]:
list(filter(lambda x : x < 0,l1))

[-3, -2, -1, -2]

In [15]:
l2 = ["pawan", "lakshya", "saurabh", "vikram", "sahil"]

In [16]:
list(filter(lambda x : len(x) < 6 , l2))

['pawan', 'sahil']